form{
    height: 520px;
    width: 400px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border: 1px solid black;
    padding: 50px 35px;
    background-color: var(--color_1);
}


label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,1);
    border-radius: 3px;
    padding-left: 10px;
    margin-top: 8px;
    font-size: 20px;
    font-weight: 300;
    font-family: "Roboto Mono", monospace;

}
::placeholder{
    color: #e5e5e5;
}

#login {
    width: 100%;
    margin-top: 20px;
}

#retour {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

#reset {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

#reset::after {
    background-color: var(--color_danger);
}

.features {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}