:root {
    --color_1: #cdf4f0;
    --color_2: #38d1c3;
  }

html,
body {
  margin: 0;
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-family: "Roboto Mono", monospace;
}

.container {
    margin: 10vh 30vw;
    height: 20vh;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 50px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    cursor: auto;
  }
  
  .container::after {
    content: "";
    background-color: var(--color_1);
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 15px;
    left: 15px;
    transition: 0.3s;
  }
  
  .container:hover::after {
    top: 0px;
    left: 0px;
  }

  .photo{
      align-items: flex-end;
  }

  .photo a {
    text-decoration: none;
    color: black;
  }

  table{
    border-collapse: collapse;
    border-spacing: 0px;
    height: 70%;
    justify-content: left;
    white-space: nowrap;
    border: none;
  }

  .titre_ligne{
      font-weight: 600;
  }

  .photo{
      background-color: white;
      border-radius: 20px;
      text-align: center;
  }

  /*Début button slide */
  .connect {
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 30px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
  }
  
  .connect i {
    opacity: 0;
    font-size: 13px;
    transition: 0.2s;
    position: absolute;
    right: 10px;
    top: 21px;
    transition: transform 1;
  }
  
  .connect div {
    transition: transform 0.8s;
  }
  
  .connect:hover div {
    transform: translateX(-6px);
  }
  
  .connect::after {
    background-color: var(--color_2);
    content: "";
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
  }

  
  .connect:hover i {
    opacity: 1;
    transform: translateX(-6px);
  }

  #disconnect::after {
    background-color: var(red);
  }
  /*Fin button slide*/